@{
    ViewBag.Title = "Problem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle-container">
    <div class="middle-container">
        <div class="paddings thankyou-section" data-moduleid="2050" id="ContactUsPane">

            <h1>Ocorreu um erro!</h1>
            <p>@ViewBag.CustomError</p>


            <p><a href="/" class="btn-read-more">Go To Home Page</a></p>
        </div>
    </div>

</div>